{
  "extends": ["@react-native-community", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "quotes": [2, "double", { "avoidEscape": true }],
    "strict": 0,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "parser": "babel-eslint"
}
